name: ML Workflow CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: # Trigger manual jika ingin

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.12
          environment-file: MLProject/conda.yaml
          activate-environment: ml-env
          use-mamba: true

      - name: Verify Environment
        run: |
          conda info
          conda list

      - name: Install extra dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow dagshub

      - name: Run Modelling Script
        run: |
          cd MLProject
          python modelling.py
